<h2>Lists</h2>

{{! BEGIN-SNIPPET awkward-list }}
{{input value=nextNumber}}<button {{action "insert"}}>Insert</button>
{{#liquid-bind numbers rules=rules as |currentNumbers|}}
  <div class="number-area">
    {{#each currentNumbers as |number|}}
      <div class="numbox" data-id={{number}} {{action "remove" number}}>{{number}}</div>
    {{/each}}
  </div>
{{/liquid-bind}}
{{! END-SNIPPET }}

{{code-snippet name="awkward-list.hbs"}}
{{code-snippet name="awkward-list.js"}}